* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #D9FAFF;
}

body p {
  font-size: 5vw;
}
body .recherche {
  display: flex;
  justify-content: center;
  height: 40vw;
  width: auto;
  background-image: url(./project/assets/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
body .recherche #search {
  margin-top: 30vw;
  height: 5vw;
  width: 50vw;
  border-radius: 5vw;
  border: none;
  text-align: center;
  box-shadow: 12px 14px 21px -14px rgba(0, 0, 0, 0.75);
  font-size: 3vw;
}
body .recherche button {
  font-size: 5vw;
  width: 15vw;
  height: 5vw;
  margin-top: 30vw;
  border-radius: 15px;
  border: none;
  background-color: #00204A;
}
body .recherche button #loupe {
  width: 3vw;
}
body .div_button {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}
body .div_button button {
  background-color: #00204A;
  border: none;
  padding: 2%;
  border-radius: 15px;
  color: white;
  width: auto;
  text-align: center;
}
body .ville {
  text-align: center;
  margin-bottom: 5%;
  font-family: "Chivo Mono", monospace;
}
body .carte {
  width: 95%;
  padding: 2%;
}
body .carte .class_all {
  width: 85%;
  height: 35vw;
  margin: auto;
  margin-bottom: 2%;
  border-radius: 28px;
  background-color: rgba(120, 126, 126, 0.219);
  padding: 2%;
  display: flex;
  justify-content: space-around;
}
body .carte .class_all .carte__head {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body .carte .class_all .carte__head .carte__head__deg {
  font-size: 10vw;
}
body .carte .class_all .carte__head .carte__head__hour {
  font-size: 5vw;
}
body .carte .class_all .carte__info__cloud {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body .carte .class_all .carte__info__cloud .info__cloud {
  text-align: center;
}
body .carte .class_all .info__wind__pressure {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body .carte .class_all .info__wind__pressure .carte__info__pressure {
  display: flex;
}
body .carte .class_all .info__wind__pressure .carte__info__pressure .pressure {
  width: 5vw;
}
body .carte .class_all .info__wind__pressure .carte__info__wind {
  display: flex;
}
body .carte .class_all .info__wind__pressure .carte__info__wind .wind {
  width: 5vw;
}
@media screen and (min-width: 768px) {
  body .div_button button {
    padding: 2%;
    border-radius: 5vw;
    width: 10vw;
  }
  body .carte {
    width: 95%;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  body .carte p {
    font-size: 1.5vw;
  }
  body .carte .class_all {
    width: 20%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 2%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  body .carte .class_all .carte__head .carte__head__deg {
    font-size: 3.5vw;
  }
  body .carte .class_all .carte__head .carte__head__hour {
    font-size: 1.5vw;
  }
  body .carte .class_all .carte__info__cloud {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .carte .class_all .carte__info__cloud .cloud {
    width: 12vw;
  }
  body .carte .class_all .info__wind__pressure .carte__info__pressure {
    display: flex;
    justify-content: center;
  }
  body .carte .class_all .info__wind__pressure .carte__info__pressure .pressure {
    width: 2.5vw;
  }
  body .carte .class_all .info__wind__pressure .carte__info__wind {
    display: flex;
    justify-content: center;
  }
  body .carte .class_all .info__wind__pressure .carte__info__wind .wind {
    width: 2.5vw;
  }
}/*# sourceMappingURL=style.css.map */